.container {
    display:grid;
    grid-gap: 5px 10px;
    grid-template-areas:
        "header header header header header header"
        "sidenav content content content content content"
        "footer footer footer footer footer  footer"
}
.header {
    display:grid;
    grid-gap: 5px 10px;
    grid-template-areas:
        "logo menu menu menu menu busca"
}
.sidenav{
    display:grid;
    grid-gap: 5px 10px;
    grid-template-areas:
        "bloco1"
        "bloco2"
}
.content {
    display:grid;
    grid-gap: 5px 10px;
    grid-template-areas:
        "blococonteudo1"
        "blococonteudo2"
        "blococonteudo3"
        "blococonteudo4"
}
.blococonteudo3 {
    display:grid;
    grid-gap: 5px 10px;
    grid-template-areas:
        "bloco31 bloco32 bloco32 bloco32 bloco32 bloco33"

}
/*
.bloco32{
    display:grid;
    grid-gap: 5px 10px;
    grid-template-areas:
        "subitem"
}
*/

.itemblococonteudo3subitem{
    background-color: rgb(209, 192, 255);
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    color: rgb(255, 253, 240);
} 
.blococonteudo1 {
    display:grid;
    grid-gap: 5px 10px;
    justify-content: space-around;
    grid-template-areas:
        "bloco31 bloco32 bloco33 bloco34"

}
.area {
    background-color: rgb(7, 123, 128);
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
    color: aliceblue;
}
.itemtopo{
    background-color: blue;
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
    color: aliceblue;
}
.itemlateral{
    background-color: green;
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    color: aliceblue;
}
.itemconteudo{
    background-color: rgb(255, 0, 85);
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    color: black;
}
.itemblococonteudo3{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    color: aliceblue;
}


.header {
    grid-area: header;
}
.sidenav {
    grid-area: sidenav;
}
.content {
    grid-area: content;
}
.footer {
    grid-area: footer;
}
.menu{
    grid-area: menu;
}
.busca{
    grid-area: busca;
}